.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  
  &__content {
    position: relative;
    width: 80%;
    background-color: #fcfcfc;
    animation: .5s size-in linear;

    @include desktop {
      width: 60%;
    }
  }

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 5px;
      width: 20px;
      height: 2px;
      background-color: #000;

      @include tablets {
        right: 2px;
        width: 26px;
        height: 4px;
      }
    }


    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@keyframes size-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}