*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source-code', monospace;
  font-size: 16px;
  min-width: 270px;
  height: 100vh;
  min-height: 100vh;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 7px 20px;
  outline-color: green;
  letter-spacing: 1.3px;
  cursor: pointer;

  @include tablets {
    font-size: 18px;
    padding: 10px 25px;
  }

  @include desktop {
    font-size: 20px;
    padding: 10px 30px;
    min-width: 200px;
  }
}

section {
  @include desktop {
    display: flex;
  }
}